.header{
    display: flex;
    flex-direction: row;
    border-bottom-width: 2px;
    border-bottom-color: red;
    border-bottom-style: double;
}

.header .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2px;
}

.navbar p, a, select{
    padding: 15px;
    text-decoration: none;
    color: red;
    font-size: 17px;
}

.navbar p{
    font-weight: 600;
    font-size: 18px;
}

.navbar select{
   border-color: black;
   outline: none;
   background-color: black;
}

.searchbar{
    display: flex;
    margin-left: auto;
}

.searchbar input{
    align-self: center;
    padding: 10px;
    margin-right: 22px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.searchbar button{
    align-self: center;
    background-color: black;
    font-size: 15px;
    letter-spacing: 1px;
    color: #198754;
    border: 1px solid #198754;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 15px;  
}

.searchbar button:hover{
    cursor: pointer;
    background-color: #198754;
    color: white;
    /* transform: scale(1.02); */
    transition: 0.2s;
}


.main .main-title{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 22px;
    margin-top: 30px;
    letter-spacing: 1px;
}


.main .container-lista{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 120px 5px 40px 5px;
}

.container-lista .lista-filmes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 100%;
}

.lista-filmes .filme{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 260px;
    border-radius: 20px;
    background-color: #272626;
}

.lista-filmes .filme img{
    width: 100%;
    padding: 18px;
}



