/* ESTILIZAÇÃO PÁGINA PRINCIPAL */

.header {
    background-color: #212529;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 48px;
}

.header-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.header h1{
    align-self: center;
    font-size: 38px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 600;
    margin-bottom: 15px;
}

.header p{
    color: #FFFFFF80;
    margin: 8px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}