.header{
    display: flex;
    flex-direction: row;
    border-bottom-width: 2px;
    border-bottom-color: green;
    border-bottom-style: double;
}

.header .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2px;
}

.navbar p, a, select{
    padding: 15px;
    text-decoration: none;
    color: green;
    font-size: 17px;
}

.navbar p{
    font-weight: 600;
    font-size: 18px;
}

.navbar select{
   border-color: black;
   outline: none;
   background-color: black;
}

.searchbar{
    display: flex;
    margin-left: auto;
}

.searchbar input{
    align-self: center;
    padding: 10px;
    margin-right: 22px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.searchbar button{
    align-self: center;
    background-color: black;
    font-size: 15px;
    letter-spacing: 1px;
    color: #198754;
    border: 1px solid #198754;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 15px;  
}

.searchbar button:hover{
    cursor: pointer;
    background-color: #198754;
    color: white;
    /* transform: scale(1.02); */
    transition: 0.2s;
}



.main .main-title{
    text-align: center;
    color: green;
    text-decoration: underline;
    font-size: 22px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.main .container-lista{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 120px 5px 40px 5px;
}

.container-lista .lista-musicas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 100%;
}

.lista-musicas .musica{
    display: flex;
    flex-direction: column; /* Observação */
    gap: 1rem;
    max-width: 260px;
    height: 100%;
    border-radius: 20px;
    background-color: #272626;
}

.lista-musicas .musica img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lista-musicas .musica .musica-info{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0px 8px 8px 8px;
    flex-grow: 1;  /*Define o espaçamento de um elemento filho dentro de um contâiner com "display: flex" e "flex-direction: column". Esses dois estilos transformam o contêiner "musica" (veja "observação") em uma coluna onde os itens filhos são empilhados verticalmente, com isso o "flex-grow" lida com qualquer espaço restante. O valor "1" faz com que o contâiner "inche", empurrando o elemento "a" (o botão) para o fim do card */
    
}

.musica .musica-info h4, span{
    padding-bottom: 15px;
}

.musica .musica-info h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.lista-musicas .musica a{
    text-decoration: none;
    color: white;
    background-color: #0d6efd;
    border-radius: 8px;
    padding: 10px;
    align-self: center;
    margin-bottom: 10px;
}

.lista-musicas .musica a:hover{
    transform: scale(1.04);
    transition: 0.3s;
}




.footer{
    display: flex;
    justify-content: center;
    color: rgb(167, 165, 165);
    font-size: 14px;
    padding: 60px 20px 20px 20px;
}



/* CLASSES DE INTERAÇÃO JS */

.musica.mostrar {
    display: flex;
}

.musica.remover {
    display: none;
}